/************************************
GENERAL
************************************/
header {
	border-bottom: 55px;
	border-bottom-style: solid;
	background-color: black;
 	
}

ul.menu li{
	list-style-type: none;
	display: inline-block;
	margin-right: 50px;
	margin-bottom: 50px;
	font-size: 20px;
	color: red;
	line-height: 20px;

	
}

h1 {
	display: inline-block;
	font-size: 36px;
	color: red;
	padding-top: 55px;
	margin-left: 25px;
	
}

h3 {
	display: inline-block;
	font-size: 28px;
	color: red;
	padding-top: 10px;
	margin-left: 100px;
	float: left;

}

.menu {
	float: right;
	
}

footer {
	font-size: 25px;
	float:left;
	width: 50%;
	font-weight: bold;
	border-top: 55px; 


}


/**********************************************
PAGE: FLOOR PLANS
**********************************************/

table {
	border-collapse: collapse;
	width: 100%;
}


table, th, td {
	text-align: center;
	border: 3px solid black;
}

th {
	font-weight: bold;
	font-size: 55px;
}

td {
	font-size: 45px;
	padding: 10px;
}


/**********************************************
PAGE: GALLERY
**********************************************/
.slide-viewer{
	position: relative;
	overflow: hidden;
	height: 300px;
}

.slide-group{
	width: 100%;
	height: 100%;
	position: relative;

}

.slide {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;

}

.slide:first-child{
	display:block;
}


/**********************************************
PAGE: CONTACT
**********************************************/

.message {
	float:right;
	margin-right: 35px;
	margin-bottom: 95%;

}

.info {
	float: left;
	margin-left: 25px;
}


.l_name{
	float:right;
	margin-right:315px;
}

.f_name,
.l_name{
	display: inline-block;
}

.f_name{
	float:left
}
 .e-mail{
 	border: 5px;
 }




.address p {
	font-size: 25px;
}

.contact p {
	font-size: 25px;
}

.office-hours p {
	font-size: 25px;
}

.Main_Apartment_Pic {
	width: auto;
	height: auto;
}

.contact-header {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.address h1 {
	font-weight: bold
	font-size: 66px;
}

.contact-info {
	font-weight: bold
	font-size: 55px;
}

.hours-info {
	font-weight: bold
	font-size: 55px;
}




